---
import BaseLayout from '@layouts/BaseLayout.astro';
import { readItems } from '@directus/sdk';
import directus, { directusFileSrc } from '@lib/directus';
import type { InferGetStaticPropsType } from 'astro';
import ListTags from '@components-ui/TagList.astro';
import getReadingTime from "@lib/getReadingTime";
import { Picture } from 'astro:assets';

export async function getStaticPaths() {
    const posts = await directus.request(readItems("posts", {
        fields: [
            "slug",
            "title",
            "publish_date",
            "content",
            "subtitle",
            "tags",
            {featured_image: ["id", "title", "description"],}
        ],
        filter: {
            status: {
                _eq: "published",
            },
        },
    }));

    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post,
    }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const post = Astro.props;
const dateOptions: object = {
    year: "numeric",
    month: "long",
    day: "numeric",
};
const formattedPublishedDate =
    new Date(post.publish_date).toLocaleDateString("en-US", dateOptions);
const fileSrc = directusFileSrc(
    post.featured_image.id,
    post.title,
    {width: 500, quality: 70, format: "auto"}
);
---

<BaseLayout title={post.title}>
    <article class="main">
        <hgroup>
            <div class="heading-wrap">
                <h1 class="post-title">{post.title}</h1>
                <span class="heading-fill"></span>
            </div>

            <p class="post-info">
                Written by Jonas Allen 
                | Published on {post.publish_date && formattedPublishedDate} 
                | {getReadingTime(post.content).text}
            </p>

            <ListTags tags={post.tags} />

            {post.featured_image &&
                <Picture
                    src={fileSrc}
                    inferSize
                    alt={
                        post.featured_image.description
                        ? post.featured_image.description
                        : ""
                    }
                />
            }

            {post.subtitle && <h2 class="post-subtitle">{post.subtitle}</h2>}
        </hgroup>

        <hr />

        <Fragment set:html={post.content} />

        { post.tags &&
            <hr />
        }

        <ListTags tags={post.tags} />
    </article>
</BaseLayout>

<style>
    .main .heading-wrap .post-title {
        margin-block-end: 0.25rem;
    }
    .main .post-info {
        margin-block-start: 0rem;
    }
</style>