---
import directus from "../lib/directus";
import { createItem } from "@directus/sdk";

export const prerender = false;

let firstName = "";
let lastName = "";
let email = "";
let message = "";
const errors = {
    username: "",
    firstName: "",
    lastName: "",
    email: "",
    message: "",
    submission: "",
}
let successMessage = "";
let formDisplay = "block";

if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const username = data.get("username").toString().trim();
        lastName = data.get("last-name").toString().trim();
        firstName = data.get("first-name").toString().trim();
        email = data.get("email").toString().trim();
        message = data.get("message").toString().trim();

        if (username) {
            errors.username +=
                "There is has been an error with your submission. If you are using an auto-fill for this form, please disable the form auto-fill. Then refresh the page, while holding the shift key to clear the cache on this page. Thank you and my apologies for any inconveniences.";
            throw new Error("Contact Form: And another bot bites the dust!");   
        }

        if (typeof firstName !== "string" || firstName.length < 1) {
            errors.firstName += "Pease enter your first name.";
        }

        if (typeof lastName !== "string" || lastName.length < 1) {
            errors.lastName += "Pease enter your last name.";
        }

        if (typeof email !== "string" || email.length < 1) {
            errors.email += "Pease enter your email.";
        }

        const hasErrors = Object.values(errors).some(msg => msg);
        if (!hasErrors) {
            await directus.request(
                createItem("contact_form", {
                    status: "open",
                    first_name: firstName,
                    last_name: lastName,
                    email: email,
                    message: message,
                })
            )

            successMessage = "Your message has been successfully sent! I'll get back to you as soon as possible. Thank you for reahing out to me!";
            firstName = "";
            lastName = "";
            email = "";
            message = "";
            formDisplay = "none";
        }
    } catch (error) {
        if (error instanceof Error) {
            console.error(`${error.name}: ${error.message} \n\n${error.cause}`);
            errors.submission +=
                "There has been an error submitting your response. Please check your internet connection. If your interconnection seems fine try submitting from another browser or device. If problem persists you may need to try at another time.";
        }
    }
}
---

<h2>{!successMessage ? "Contact Me" : "Contact Form Submission Successful"}</h2>

{successMessage && <p>{successMessage}</p>}

<form method="POST" aria-hidden={successMessage ? "true": "false"}>
    {errors.submission && <p>{errors.submission}</p>}
    {errors.username && <p>{errors.username}</p>}

    <div class="form-row hp-field">
        <div class="input-data">
            <label for="username">
                Username: (If you are a human, do not fillout a Username.)
            </label>
            <input type="text" name="username" id="username" autocomplete="off" />
        </div>
    </div>

    <div class="form-row">
        <div class="input-data">
            <label for="first-name">First Name:</label>
            <input type="text" name="first-name" id="first-name" value={firstName} required />
            <div class="underline"></div>
            {errors.firstName && <p>{errors.firstName}</p>}
        </div>
        
        <div class="input-data">
            <label for="last-name">Last Name:</label>
            <input type="text" name="last-name" id="last-name" value={lastName} required />
            <div class="underline"></div>
            {errors.lastName && <p>{errors.lastName}</p>}
        </div>
    </div>

    <div class="form-row">
        <div class="input-data">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value={email} required />
            <div class="underline"></div>
            {errors.email && <p>{errors.email}</p>}
        </div>
    </div>

    <div class="form-row">
        <div class="input-data text-area">
            <label for="message">Message:</label>
            <textarea name="message" id="message" rows="8" cols="80">{message}</textarea>
            <br />
            <div class="underline"></div>
            <br />
        </div>
    </div>

    <div class="form-row submit-btn">
        <div class="input-data">
            <input type="submit" value="submit">
        </div>
    </div>
</form>

<style define:vars={{ formDisplay }}>
    form {
        display: var(--formDisplay);
    }
    form .form-row {
        display: flex;
        gap: 1rem;
    }
    form .form-row .input-data {
        width: 100%;
        padding: 1rem;
    }
    .form-row .input-data label {
        display: inline-block;
        width: 100%;
    }
    .form-row .text-area textarea {
        margin-top: 1.5rem;
    }
    .form-row .input-data input,
    .form-row .input-data textarea {
        width: 100%;
        color: var(--foreground-color);
        background-color: transparent;
        border: none;
        border-bottom: 2px solid var(--foreground-color);
    }
    .form-row .input-data textarea {
        border: 2px solid var(--foreground-color);
    }
    .submit-btn .input-data input {
        color: var(--background-color);
        background-color: var(--cta-color);
        border: none;
        line-height: 3rem;
        text-transform: uppercase;
        font-weight: 900;
    }
    .hp-field {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
    @media screen and (max-width: 500px) {
        form .form-row {
            flex-direction: column;
        }
    }
</style>